    :root 
    {
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    }
    
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 100vw;
    }

    img
    {
        width: 100%;
    }

    body,
    main.container-fluid
    {
        padding: 0;
        margin: 0;
    }

    body
    {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    nav
    {
        padding: 5px;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: 50;
        width: 100vw;
    }

    nav a 
    {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        padding: 10px 30px;
        background: transparent;
        transition: all 0.3s ease; /* Permite animar as mudanças no valor dos atributos transition: atributos(paddin, margin) tempo (0.5s) tipo(ease ease-in ease-in-out) */
        margin: 3px;
        
    }

    /* :first-child - pseudo-seletor que pega o primeiro item 
        :nth:chield(n) - permite escolher o item pela posição    
    */
   
    nav a:first-child
    {
        padding: 0;
        margin-right: 60%;
        transition: none;
    }

    /* removendo as transformações do logo*/
    nav a:first-child::hover
    {
        transition: none;
        transform: scale(1);
    }

    nav a:hover
    {
        transform: scale(1.3); /* permite aplicar mudanças de posição translatex() tamanho scale(1.3) rotate() */
        color:#20c997;
        transition: all 0.5s ease;
    }

    /*----------------------------------
            Formatação do banner
    ------------------------------------*/

    #banner
    {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 5;
    }